* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: #ffffff;
  --text-color: #404bbf;
}

/* start of header classes */
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.link-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.link {
  text-decoration: none;
}

.studio-logo {
  color: #2e2f42;
}

.list {
  list-style: none;
}

.link-style {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link-style:hover {
  color: #404bbf;
}

.link-style:focus {
  color: #404bbf;
}

.address-list {
  font-style: normal;
}

.contact-color {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-color:hover {
  color: #404bbf;
}

.contact-color:focus {
  color: #404bbf;
}

/*  end of header classes  */

/* start of section 1 classes */

.section-title {
  background-color: #2e2f42;
}

.header-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.btn {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.btn:hover {
  background-color: #404bbf;
}

.btn:focus {
  background-color: #404bbf;
}

.btn {
  cursor: pointer;
}
/* end of section 1 classes */

/* start of section 2 classes */

.section-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-two-paragraph {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* end of section 2 classes */

/* start of section 3 classes */

.section-three-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

/* end of section 3 classes */

/* start of section 4 classes */

.section-four {
  background-color: #f4f4fd;
}

.section-four-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.section-four-list {
  background-color: #ffffff;
}
/* end of section 4 classes */

/* start of footer */

.page-footer {
  background-color: #2e2f42;
}

.studio-footer-logo {
  color: #f4f4fd;
}

.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

/* end of footer classes */

/* start of portfolio classes */

.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.portfolio-btn:hover {
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-btn {
  cursor: pointer;
}

.section-two-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* end of portfolio classes */

/* start of homework 3 positioning */

img {
  display: block;
}

/* start of header positioning */

.index-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.liststyle {
  display: flex;
  align-items: center;
}

.link-logo {
  margin-right: 76px;
}

.list {
  display: flex;
  gap: 40px;
}

.link-style {
  padding: 24px 0 24px;
  gap: 40px;
}
/* end of header positioning */

/* start of section 1 positioning */

.section-title {
  padding: 188px 0 188px;
}

.header-title {
  max-width: 496px;
}

.btn {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

/* end of section 1 positioning */

/* start of section 2 positioning */

.section-two-title {
  padding: 120px 0 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-two-list {
  gap: 24px;
  display: flex;
  margin: 0;
  padding: 0;
}

/* {.section-two-list .card-info:first-child {
  width: calc((100% - 72px) / 4);
} */

/* .section-two-list li:last-child {
  margin-right: 0;
} */

.card-info {
  flex: 0 0 calc((100% - 3 * 24px) / 4);
}

/* .card-info:last-child {
  margin-right: 0;
} */

/* .card-info :last-child {
  margin: 0;
}

.card-info {
  margin-bottom: 8px;
} */

.section-two-header {
  margin-bottom: 8px;
}

/* end for section 2 positioning */

/* start of section 3 positioning */

.section-three-title {
  padding-bottom: 120px;
}

.section-three-header {
  margin-bottom: 72px;
}

.list-third {
  display: flex;
  gap: 24px;
}

/* end of section 3 positioning */

/* start of section 4 positioning */

.section-four {
  padding: 120px 0 120px;
}

.section-four-header {
  margin-bottom: 72px;
}

.list-four {
  gap: 24px;
}

.section-four-list {
  border-radius: 0px 0px 4px 4px;
}

.container-four {
  padding: 32px 0 32px;
}

.header-section {
  text-align: center;
}

.section-four-paragraph {
  text-align: center;
}

/* end of section 4 positioning */

/* start of footer positioning */

.page-footer {
  padding: 100px 0 100px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-paragraph {
  max-width: 264px;
}

/* end of footer positioning */

/* start of porfolio header positioning */

.portfolio-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
}

/* end of portfolio herader positioning */

/* start of portfolio main page  positioning*/

.portfolio-section {
  padding: 96px 0 120px 0;
}

.portfolio-list {
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-btn {
  padding: 12px 24px 12px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.portfolio-btn:hover {
  border: 1px solid transparent;
}

.portfolio-btn:focus {
  border: 1px solid transparent;
}

.portfolio-second-list {
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
